{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> o blog da fenda do bíquini</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

<h1> 🏝️ 10 personagens principais </h1>

{% for post in posts %}
    <div class="post">
        <h2>
            <a href="{% url 'detalhe_post' post.id %}">
                {% if post.titulo == 'spongebob squarepants' %}
                    🧽
                {% elif post.titulo == 'patrick star' %}
                    ⭐
                {% elif post.titulo == 'squidward tentacles' %}
                    🦑
                {% elif post.titulo == 'mr. krabs' %}
                    🦀
                {% elif post.titulo == 'sandy cheeks' %}
                    🐿️
                {% elif post.titulo == 'plankton' %}
                    🪣
                {% elif post.titulo == 'gary' %}
                    🐌
                {% elif post.titulo == 'pearl' %}
                    🐳
                {% elif post.titulo == 'mrs. puff' %}
                    🐡
                {% elif post.titulo == 'karen' %}
                    💻
                {% else %}
                    🫧 {% endif %}
                
                {{ post.titulo }}
            </a>
        </h2>

        <p>{{ post.conteudo|truncatewords:20 }}</p>

        <small>{{ post.data_publicacao }}</small>

        <p class="tag">🐚 {{ post.tag.nome }}</p>
    </div>
{% endfor %}

</body>
</html>